In [1]:
import pandas as pd 
import requests as re 
from bs4 import BeautifulSoup

In [2]:
# connection guidline
url = "https://db-engines.com/en/ranking"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36'
}
response = re.get(url,headers=headers)

if response.status_code == 200:
    print("connection succesful")
else:
    print("connection problem")

connection succesful

In [3]:
# Get all DB information
soup = BeautifulSoup(response.text , 'html.parser')
tableelement = soup.find_all('table',class_='dbi')

dbmsname  = []
dblinks  = []
dbtypes = []

for element in tableelement:
    dblist = element.find_all('th',class_ = 'pad-l')
    dbtype = element.find_all('th', class_ = 'small pad-r')
    for dbs in dblist:
        dbname = dbs.find('a').text.split('Detailed vendor-provided information available')[0]
        dblink = dbs.find('a').get('href')

        dbmsname.append(dbname)
        dblinks.append(dblink)


df = pd.DataFrame({
    "Name":dbmsname,
    "Link":dblinks
})

df.drop_duplicates().reset_index(drop='true')

                      Name                                               Link
0                  Oracle             https://db-engines.com/en/system/Oracle
1                   MySQL              https://db-engines.com/en/system/MySQL
2    Microsoft SQL Server   https://db-engines.com/en/system/Microsoft+SQL...
3              PostgreSQL         https://db-engines.com/en/system/PostgreSQL
4                 MongoDB            https://db-engines.com/en/system/MongoDB
..                     ...                                                ...
412              SpaceTime         https://db-engines.com/en/system/SpaceTime
413                  Tkrzw             https://db-engines.com/en/system/Tkrzw
414        Transwarp Hippo   https://db-engines.com/en/system/Transwarp+Hippo
415    Transwarp StellarDB  https://db-engines.com/en/system/Transwarp+Ste...
416             VelocityDB        https://db-engines.com/en/system/VelocityDB

[417 rows x 2 columns]